---
import Layout from "$component/Layout.astro"
---

<Layout>
    <h1>Hi, I'm Zihan.</h1>
    <p>I live in Singapore and I am still a student.</p>
</Layout>

<style>
    p {
        font-size: 1.5em;
    }
</style>