---
import Layout from "$component/Layout.astro"
import '$style/typography.css'
---

<Layout>
    <h1>Hi, I'm Zihan.</h1>
    <p>I live in Singapore and I am still a student.</p>
    <p>You can contact me in these ways:</p>
    <ul>
        <li><a href="https://github.com/zihan-ch">Github</a></li>
        <li><a href="https://twitter.com/zihanch">Twitter</a></li>
        <li><a href="mailto:me@zihan.ga">Email</a></li>
    </ul>
</Layout>

<style>
    p {
        font-size: 1.5em;
    }
</style>