---
import PostCard from "$components/PostCard.astro";
import Layout from "$layout/Layout.astro";
import type { MarkdownInstance } from "astro";
import dayjs from "dayjs";
import { getGroupedPosts } from '$lib/posts'

const [grouped, posts] = await getGroupedPosts(await Astro.glob('./post/*'))
---

<Layout title="All Blog Posts" page="latest">
    <div id="posts-c">
        <div id="all">
            <h1 id="apt">All posts:</h1>
            <span>There are {posts?.length || 0} posts altogether.</span>

            {
                posts ? (
                    Reflect.ownKeys(grouped as object).map(key => {
                        return (
                            <div class="year">
                                <h2>{key}</h2>
                                <div class="apc">
                                    {
                                        key && grouped?.[key as string].map((post: any) => {
                                            return <PostCard post={post.frontmatter} url={post.url}></PostCard>
                                        })
                                    }
                                </div>
                            </div>
                        )
                    })
                )
                : <h2>Sorry, I haven't written any blog posts yet.</h2>
            }
        </div>
    </div>
</Layout>

<style>
* {
    /* border: solid 1px black; */
}

#posts-c {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 3%;
	margin-bottom: 15%;
}

#apt {
    margin-bottom: 0%;
}

.apc {
    display: flex;
    flex-wrap: wrap;
    /* flex: 1; */
}

#see-ac {
    margin-top: 10%;
    display: flex;
    justify-content: flex-end;
}

.year {
    margin-bottom: 5%;
}
</style>