---
import Layout from '@layouts/Layout.astro';
import astroLogoUrl from '@assets/astro.webp';
import viteLogoUrl from '@assets/vite.webp'
import solidLogoUrl from '@assets/solid.svg'

const year = new Date().getFullYear() - 2009
---

<Layout title="Home" page="home">
    <!-- main Atropos container (required), add your custom class here -->
    <div class="atropos intro-card">
        <!-- scale container (required) -->
        <div class="atropos-scale">
            <!-- rotate container (required) -->
            <div class="atropos-rotate">
                <!-- inner container (required) -->
                <div class="atropos-inner">
                    <div id="greet" data-atropos-offset="13" data-atropos-opacity="0.7;1">
                        <h1>Hello! My name is Zihan.🚀</h1>
                    </div>

                    <div id="short-intro" data-atropos-offset="2" data-atropos-opacity="0.7;1">
                        <p class="comf">I am a <span id="year">{year}</span>-year-old boy living in <span id="singapore">Singapore</span>. 
                            I am a fanatic open source enthusiast.<br />
                            My hometown is in <span id="hometown">Suzhou, China</span>, so I can both speak Chinese and English fluently.
                        </p>
                    </div>

                    <div id="hobbies" data-atropos-offset="5" data-atropos-opacity="0.7;1">
                        <p class="comf">I love coding. I'm recently developing in frontend. 
                            Also, I'm now building some personal open source projects and contributing to several famous open source projects.
                        </p>
                    </div>

                    <div id="to-about" data-atropos-offset="5" data-atropos-opacity="0.7;1">
                        <p class="comf">
                            You can find more about me at the <a href="/about">about page</a>, 
                            or <a href="/latest">read my blog</a>.
                        </p>
                    </div>

                    <div id="alc" class="bg" data-atropos-offset="40" data-atropos-opacity="0.7;0.9">
                        <img class="logoo1" src={astroLogoUrl} width="60px" height="60px" alt="astro logo" />
                    </div>

                    <div id="vl" class="bg" data-atropos-offset="30" data-atropos-opacity="0.6;0.8">
                        <img class="logoo2" src={viteLogoUrl} width="60px" height="60px" alt="vite logo" />
                    </div>

                    <div id="vuel" class="bg" data-atropos-offset="20" data-atropos-opacity="0.5;0.8">
                        <svg class="logoo2" viewBox="0 0 128 128" width="60" height="60" data-v-97393f76=""><path fill="#42b883" d="M78.8,10L64,35.4L49.2,10H0l64,110l64-110C128,10,78.8,10,78.8,10z" data-v-97393f76=""></path><path fill="#35495e" d="M78.8,10L64,35.4L49.2,10H25.6L64,76l38.4-66H78.8z" data-v-97393f76=""></path></svg>
                    </div>

                    <div id="sol" class="bg" data-atropos-offset="50" data-atropos-opacity="0.7;0.9">
                        <img class="logoo1" src={solidLogoUrl} width="60px" height="60px" alt="solid logo" />
                    </div>

                    <div id="rocket" class="bg" data-atropos-offset="-25" data-atropos-opacity="0.5;0.7">
                        <span class="bem">🚀</span>
                    </div>
                    
                    <div id="ghost" class="bg" data-atropos-offset="-40" data-atropos-opacity="0.6;0.8">
                        <span class="bem">👻</span>
                    </div>

                    <div id="ghl" class="bg" data-atropos-offset="-25" data-atropos-opacity="0.5;0.8">
                        <svg class="logoo3" width="60" height="60" aria-hidden="true" viewBox="0 0 16 16" version="1.1" width="32" data-view-component="true" class="octicon octicon-mark-github v-align-middle">
                            <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Layout>

<script>
	import 'atropos/css'
    import Atropos from 'atropos'

    const introCard = Atropos({
        el: '.intro-card',
        shadow: false,
        alwaysActive: true
    })
</script>

<style>
    .intro-card {
        /* margin: 5%; */
        width: 100%;
        height: 650px;
    }

    * {
        /* border: solid 1px black; */
    }

    p {
        font-family: 'Comfortaa', cursive;
    }

    #greet {
        margin-left: 10%;
        margin-right: 10%;
        text-align: center;
    }

    #greet h1 {
        font-size: 55px;
        background: -webkit-linear-gradient(0deg, #f1c40f, #2ecc71, #3498db);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    #short-intro, #hobbies, #to-about {
        text-align: center;
        font-size: 25px;
        max-width: 80%;
        /* width: 80%; */
        margin: auto;
        line-height: 1.4em;
    }

    #year {
        background: -webkit-linear-gradient(#e74c3c, #e67e22);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    #singapore {
        background: -webkit-linear-gradient(0deg, #3dc1d3, #546de5);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    #hometown {
        background: -webkit-linear-gradient(0deg, #ff7f50, #ff4757);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    #rocket {
        left: 20%;
        top: 60%;
    }
    
    #ghost {
        left: 40%;
        top: 30%;
    }

    .logoo1 {
        animation: loader2 1s infinite linear;
    }
    
    .logoo2 {
        animation: loader 3s infinite linear;
    }

    .logoo3 {
        animation: loader 2s infinite linear;
    }

    .bg {
        position: absolute;
        width: 110%;
        height: 110%;
        object-fit: contain;
        display: block;
        z-index: 1;
        transform-style: preserve-3d;
        pointer-events: none;
        max-width: none;
    }

    .bem {
        font-size: 30px;
    }

    #alc {
        left: 29%;
        top: 33%;
    }

    #vl {
        left: 70%;
        top: 70%;
    }

    #vuel {
        left: 55%;
        top: 43%;
    }

    #sol {
        left: 70%;
        top: 25%;
    }

    #ghl {
        left: 40%;
        top: 80%;
    }

    @keyframes loader {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes loader2 {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(-360deg);
        }
    }
</style>