---
import PostCard from "@components/PostCard.astro";
import Layout from "@layouts/Layout.astro";
import { getSortedPosts } from "@lib/posts";
import type { MarkdownInstance } from "astro";
import dayjs from "dayjs";

let posts: any

posts = await Astro.glob('./post/*')

const latest = await getSortedPosts(posts)
---

<Layout title="Latest Blog Posts" page="latest">
    <div id="posts-c">
        <div id="new">
            <h1 id="lpt">Latest posts:</h1>

            <div id="lpc">
            {
                latest ? latest.slice(0, 5).map((post: any) => (
                    <PostCard
                        post={post.frontmatter}
                        url={post.url}
                    ></PostCard>
                ))
                : <h2>Sorry, I haven't written any blog posts yet.</h2>
            }
            </div>
        </div>
        <div id="see-ac">
            <a href="/all"><span>See all posts</span></a>
        </div>
    </div>
</Layout>

<style>
* {
    /* border: solid 1px black; */
}

#posts-c {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 3%;
	margin-bottom: 15%;
}

#lpt {
    margin-bottom: 0%;
    color: var(--titleColor);
}

#lpc {
    display: flex;
    flex-wrap: wrap;
    /* flex: 1; */
}

#see-ac {
    margin-top: 10%;
    display: flex;
    justify-content: flex-end;
}
</style>