#header {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 450px) {
    #toggleMenu {
        margin: auto;
        margin-right: 10px;
    }

    #leftNav {
        margin-left: 20px;
    }

    #rightHeader {
        position: fixed;
        top: 8%;
        left: 0%;
        right: 0%;
        background-color: white;
        z-index: 100000;
        align-items: center;
        justify-content: center;
    }

    nav a:not(.ico) {
        margin: 2rem;
        font-size: 4rem;
    }

    .ico {
        margin-top: 5px;
    }

    #icos {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }
}

@media only screen and (min-width: 450px) {
    #toggleMenu {
        display: none;
    }

    #header {
        margin-left: 4%;
        margin-right: 4%;
    }

    #rightHeader {
        display: flex;
    }

    .rss {
        margin-left: 20px;
    }

    .ico {
        margin-left: 7px;
    }
}

#leftNav {
    display: flex;
}

#titleHeader {
    margin-left: 15%;
}

#titleHeaderLink {
    font-family: "Merriweather", serif;
    color: var(--titleColor);
}

#avatar {
    margin: auto;
}

#titleHeader {
    margin-left: 15%;
}

nav {
    align-items: center;
    flex: 1;
    font-weight: 700;
    justify-content: flex-end;
    text-transform: uppercase;
}

nav a:not(.ico) {
    color: var(--headerColor);
    text-decoration: none;
    padding: 10px 5px;
    display: block;
    position: relative;
    margin-left: 20px;
    min-width: 55px;
    text-align: center;
}

nav a:not(.ico):not(.selected) {
    opacity: 0.7;
}

nav a:not(.ico)::before {
    content: '';
    position: absolute;
    transition: transform .3s ease;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
}

nav a:not(.ico):not(.selected)::before {
    background: #95a5a6;
}

nav a:not(.ico).selected::before {
    background: #a2d2ff;
}

nav a:not(.ico):hover::before, nav a.selected::before {
    transform: scaleX(1);
}

nav .selected::before {
    background: #1abc9c;
}

.ico {
    opacity: 0.6;
    color: var(--headerColor);
}

.ico:hover {
    opacity: 0.9;
}

#header {
    input[type = "checkbox"] {
        -webkit-appearance: none;
        display: none;
        visibility: hidden;
    }

    .bar {
        position: relative;
        cursor: pointer;
        width: 50px;
        height: 40px;
    }

    .bar span {
        position: absolute;
        width: 45px;
        height: 7px;
        background: var(--textColor);
        border-radius: 100px;
        display: inline-block;
        transition: 0.3s ease;
        left: 0;
    }

    .bar span.top {
    top: 0;
    }

    .bar span.middle {
    top: 17px;
    }

    .bar span.bottom {
    bottom: 0;
    }

    input[type]:checked ~ span.top {
    transform: rotate(45deg);
    transform-origin: top left;
    width: 48px;
    left: 5px;
    }

    input[type]:checked ~ span.bottom {
    transform: rotate(-45deg);
    transform-origin: top left;
    width: 48px;
    bottom: -1px;
    box-shadow: 0 0 10px #495057;
    }

    input[type]:checked ~ span.middle {
    transform: translateX(-20px);
    opacity: 0;
    }
}