@import url("./link.css");

/* Global */
main {
	* {
		line-height: 1.4em;
		letter-spacing: 0.02em;
		color: var(--text-color);
		font-family: var(--sans);
	}

	p {
		font-weight: 400;
		font-size: var(--main-font-size);
	}

	li {
		font-size: inherit;
	}
}

code {
	font-size: inherit;
	--border-radius: 4px;
	--padding-block: 0.15em;
	--padding-inline: 0.2em;
	font-size: 0.9em;
	padding: var(--padding-block) var(--padding-inline);
	margin: calc(var(--padding-block) * -1) 0;
	border-radius: var(--border-radius);
	word-break: break-word;
	background-color: var(--code-inline-bg-color);
}

/* Laptop or desktop only */
@media (min-width: 400px) {
	main {
	}

	#article-title {
		font-size: 2.6rem;
	}
}

/* Mobile only */
@media (max-width: 400px) {
	main {
	}

	#article-title {
		font-size: 2rem;
	}
}
