@import url("./link.css");

/* Global */
main {
	.astro-code {
		font-size: 1em;
		padding: 0.7em;
		border-radius: 8px;
		word-break: break-word;
	}

	.astro-code {
		* {
			font-family: var(--mono) !important;
		}
	}

	* {
		line-height: 1.4em;
		letter-spacing: 0.02em;
		font-family: var(--sans);
	}

	*:not(a) {
		color: var(--text-color);
	}

	p {
		font-weight: 400;
		font-size: var(--main-font-size);
	}

	li {
		font-size: var(--main-font-size);
	}

	mark {
		font-size: inherit;
		--border-radius: 0.3em;
		--padding-block: 0.15em;
		--padding-inline: 0.2em;
		font-size: 0.9em;
		padding: var(--padding-block) var(--padding-inline);
		margin: calc(var(--padding-block) * -1) 0;
		border-radius: var(--border-radius);
		word-break: break-word;
	}

	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		code {
			font-size: inherit;
			--border-radius: 0.3em;
			--padding-block: 0.15em;
			--padding-inline: 0.2em;
			font-size: 0.9em;
			padding: var(--padding-block) var(--padding-inline);
			margin: calc(var(--padding-block) * -1) 0;
			border-radius: var(--border-radius);
			word-break: break-word;
			background-color: var(--code-inline-bg-color);
		}
	}
}

/* Laptop or desktop only */
@media (min-width: 400px) {
	main {
	}

	#article-title {
		font-size: 2.6rem;
	}
}

/* Mobile only */
@media (max-width: 400px) {
	main {
	}

	#article-title {
		font-size: 2rem;
	}
}
