/* Global */
main {
	* {
		line-height: 1.4em;
		letter-spacing: 0.02em;
		color: var(--text-color);
		font-family: var(--sans);
		font-size: var(--main-font-size);
	}

	p {
		font-weight: 400;
	}

	li {
		font-size: inherit;
	}

	a {
		font-size: inherit;
		color: var(--link-color);
		text-decoration: none;
		transition: opacity 0.4s ease-in-out;
	}

	a:hover {
		opacity: 0.6;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
	}
}

code {
	font-size: inherit;
	--border-radius: 4px;
    --padding-block: .15em;
    --padding-inline: .2em;
    font-size: .9em;
    padding: var(--padding-block) var(--padding-inline);
    margin: calc(var(--padding-block)*-1)0;
    border-radius: var(--border-radius);
    word-break: break-word;
	background-color: var(--code-inline-bg-color);
}

/* Laptop or desktop only */
@media (min-width: 400px) {
	main {
		* {
			
		}
	}

    #article-title {
        font-size: 2.6rem;
    }
}

/* Mobile only */
@media (max-width: 400px) {
	main {
		* {
			
		}
	}

    #article-title {
        font-size: 2rem;
    }
}
