body {
	/* --sans: "Merriweather Sans", sans-serif; */
	--sans: "Ysabeau", sans-serif;
	/* --serif: "Merriweather", serif; */
	--serif: var(--sans);
	--mono: "Fira Code", monospace;
	--link-color: #8675a9;
}

.light body {
	--tag-bg-color: #d2daff;
	--text-color: #2d2d2d;
	--header-color: #2d2d2d;
	--title-color: #171717;
	--header-selected-color: black;
	--background-color: white;
	--code-inline-bg-color: #e4f9f5;
	--bow: black; /* Black Or White */
	--bowr: white; /* Black Or White */
	--scrollbar-color: #f5efe6;
}

.dark body {
	--tag-bg-color: #967e76;
	--title-color: #d8d8d8;
	--text-color: #dcd7c9;
	--header-color: #d8d8d8;
	--header-selected-color: white;
	--background-color: #191919;
	--code-inline-bg-color: #594545;
	--bow: white; /* Black Or White */
	--bowr: black; /* Black Or White */
	--scrollbar-color: #967e76;
}

@media (min-width: 499px) {
	body {
		--big-title: 2.6rem !important;
		--main-font-size: 1.35em;
	}
}

@media (max-width: 499px) {
	body {
		--big-title: 2rem !important;
		--main-font-size: 1.2em;
	}
}
