body {
	--serif: "Merriweather", serif;
	--sans: "Merriweather Sans", sans-serif;
	--text-color: #2d2d2d;
	--link-color: #8675a9;
	--header-color: #2d2d2d;
	--header-selected-color: black;
	--background-color: white;
	--code-inline-bg-color: #e4f9f5;
}

@media (min-width: 400px) {
	body {
		--big-title: 2.6rem !important;
		--main-font-size: 1.2em;
	}
}

@media (max-width: 400px) {
	body {
		--big-title: 2rem !important;
		--main-font-size: 1.1em;
	}
}
