---
const {
    lang
} = Astro.props
---

<!DOCTYPE html>
<html {lang}>
    <head>
        <slot name="head"></slot>
    </head>
    <body class="menu-closed">
        <slot></slot>
    </body>
</html>