---
import BackToTop from "./BackToTop";
import Cursor from "./Cursor";

const {
    lang
} = Astro.props
---

<!DOCTYPE html>
<html {lang}>
    <head>
        <slot name="head"></slot>
    </head>
    <body>
        <slot></slot>

        <Cursor client:idle></Cursor>
        <BackToTop client:idle></BackToTop>
    </body>
</html>