---
import BackToTop from "./BackToTop"
import Cursor from "./Cursor"

const { lang } = Astro.props
---

<!DOCTYPE html>
<html lang={lang === "cn" ? "zh-cn" : lang}>
	<head>
		<slot name="head" />
	</head>
	<body>
		<slot />

		<Cursor client:idle />
		<BackToTop client:idle />
	</body>
</html>
