---
import dayjs from 'dayjs'

const {
    post,
    url,
} = Astro.props

let date;
if (post.pubDate) date = dayjs(post.pubDate as string, 'YYYY/MM/DD').format('MMM D, YYYY')
---

<div class="poc">
    <a href={url} class="cusa poca">
        <h3>{post.title}</h3>
        {post?.draft && <span style="color: red;">This is just a draft, and it won't be published!<br /></span>}

        {date && <span style="font-weight: 300; line-height: 1.5em;">{date}</span><br />}
        <span>{post.description || `No description provided...`}</span>
    </a>
</div>

<style>
    .poc {
        margin: 2%;
        width: 40%;
    }

    .poca {
        opacity: 1;
        transition: opacity 0.5s;
    }

    .poca:hover {
        opacity: 0.6;
        transition: opacity 0.5s ease;
    }
</style>

<style scoped>
    h3 {
        margin-block-start: 0.6em;
        margin-block-end: 0.6em;
    }
</style>