---
import Header from '../components/Header.astro';
import '../style/global.css';

const { frontmatter } = Astro.props;

const theme = {};

const {
	title = 'Zihan'
} = frontmatter || Astro.props;

const lang = frontmatter?.lang || Astro.props.lang || 'en';
---

<!DOCTYPE html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<!-- <meta name="generator" content={Astro.generator} /> -->
		<title>{title}</title>
		<link rel="icon" href="/avatar.png" type="image/png">
	</head>
	<body>
		<div id="site">
			<Header>
			</Header>
			<div id="main">
				<slot />
			</div>
		</div>
	</body>
</html>

<style define:vars={{ ...theme }}>
#main {

}

#site {
	/* margin-left: 15%;
	margin-right: 15%; */
}
</style>