---
import Layout from "$component/Layout.astro"
import '$style/typography.css'

const {
    title = 'Unknown title'
} = Astro.props.frontmatter || Astro.props
---

<Layout margin={25}>
    <h1 id="article-title">{title}</h1>

    <article>
        <slot></slot>
    </article>

    <script src="https://giscus.app/client.js"
        data-repo="zihan-ch/blog"
        data-repo-id="R_kgDOIE6d3Q"
        data-category="General"
        data-category-id="DIC_kwDOIE6d3c4CR5h7"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
    </script>
</Layout>

<style is:global>
    article {
        margin-bottom: 10%;
    }
</style>